<!DOCTYPE html>
<html>
  <head>
    <title>CRMChallangeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
	  <ul>
	    <li><%= link_to 'All Customers', root_path %></li>
		<li><%= link_to 'Alphabetized Customers', alphabetized_path %></li>
		<li><%= link_to 'Customers Without Addresses', missing_email_path %></li>
		<li><%= link_to 'Add a new customer', new_customer_path %></li>
	  </ul>
	</nav>
  
    <%= yield %>
  </body>
</html>
